# Ignore Visual Studio folder
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output folders in src
src/Library.App/bin/*
src/Library.App/obj/*
src/Library.UI/bin/*
src/Library.UI/obj/*
src/Library.Web/bin/*
src/Library.Web/obj/*

# Optional: umumkan aturan untuk semua project .NET
bin/
obj/
